// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.m-r03em{
  margin-right: 0.3em;
}

.m-l1em{
  margin-left: 1em;
}

.mdl-layout__content{
  background-color: #F2F2F2;
}

#map{
  height: 300px;
  width: 567px;
}
.is-female{
  color: black;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-female:after{
  background: #E91E63 !important;
}


.page-content{
    .mdl-button--fab{
      position: fixed;
      bottom: 45px;
      right: 45px;
      &:hover{
        background-color: lighten($dark-blue-color, 10);
      }
    }
  padding: 2em 5em;
  font-weight: 100;
  // background-color: #F2F2F2;
  .pagination-cont{
    display: flex;
    flex-direction: row-reverse;
    .pagination{
      display: flex;
      font-size: 1.2em;
      font-weight: 300;
      align-items: center;
      .disabled{
        height: 20px;
        width: 20px;
        line-height: 20px;
        padding:0.2em;
        margin: 0 0.1em;
      }
      em{
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        font-style: inherit;
        color: white;
        padding:0.2em;
        margin: 0 0.1em;
        background-color: $dark-blue-color;
        border-radius: 100%;
      }
      a{
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        text-decoration: none;
        margin: 0 0.1em;
        color: rgba(0,0,0,.5);
        cursor: pointer;
        padding:0.2em;
        border-radius: 100%;
        &:hover{
          background-color: $light-blue-color;
          color: white;
        }
      }
    }
  }

  .mdl-tabs{
    .is-upgraded {
      .mdl-tabs__tab{
        .is-female::after{
          background: #E91E63 !important ;
        }
      }
    }
  }

      .fixed-width{
        min-width: 50px;
      }
  .large-card{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    border-radius: 4px;
    margin-bottom: 2em;
    background-color: #FFFFFF;

    .abnb{

      border-bottom: 1px solid #e0e0e0;
      padding: 1.2em 0em 0em 0em;
      .row-title{
        color: $dark-blue-color;
        font-size: 1.2em;
        font-weight: 300;
        // margin-left: 1em;
      }
      .info-show{
        color: grey;
        display: flex;
        align-items: center;
        margin-bottom: 0.4em;
      }
      .info-ui{
        ul{
          margin-top: 0px;
          color: grey;
          font-size: 0.9em;
          font-weight: 100;
        }
        
      }
    }


    .card-toolbar{
      display: flex;
      height: 64px;
      padding: 0 1em;
      border-radius: 3px 3px 0 0;
      align-items: center;
      background-color: $blue-color;
      justify-content: space-between;
      color: white;
      h3{

      }
      .toolbar-icons{
        .material-icons{
          margin-right: 0.3em;
        }
      }
    }

    .card-body{
      
      .material-icons{
        color: grey;
      }

      padding: 1em;

      .card-top {
        display:flex;
        align-items: stretch;

        .card-image{
          flex: 2;
          padding-right: 1em;
          border-right: 1px solid grey;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            max-width: 100%;
            max-height: 220px;
          }
        }
        .card-info{
          padding: 0em 1em 0em 1.5em;
          flex: 3;
          .info-span{
            font-size: 1em;
            color: grey;
            font-weight: 100;
          }
          .mdl-tabs__panel{
            padding: 0.4em;
            
          }
          img.raty-cancel {
            display: none;
          }
          .section{
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.2em;
            align-items: center;
            .days{
              display: flex;
              align-items: center;
              .day{
                margin-left: 0.3em;
                // font-size: 1.6em;
                padding: 0.5em 0.5em;
                cursor: pointer;
                // border: 1px solid grey;
                border-radius: 2px;
                &:hover{
                  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
                  border-bottom: 2px solid $dark-blue-color;
                  -webkit-transition: all 200ms ease-in;
                  -webkit-transform: scale(1.2);
                  -ms-transition: all 100ms ease-in;
                  -ms-transform: scale(1.2);   
                  -moz-transition: all 100ms ease-in;
                  -moz-transform: scale(1.2);
                  transition: all 100ms ease-in;
                  transform: scale(1.2);
                }
              }
            }
            h3 {
              margin: 0 0 0 0;
            }
            .powered-by{
              max-width: 20%;
              .text{
                font-size: 0.6em;
                color:grey;
              }
              img {
                max-width: 100%;
              }
            }
            .players{
              display: flex;
              align-items: center;
            }
            .player-amount{
              margin-left: 0.3em;
            }
            .price-div{
              display: flex;
              align-items: center;
              margin-left: 0.3em;
            }
            .half-time{
              display: flex;
              align-items: center;
              margin-left: 0.3em; 
            }
            .basic-info{
              font-size: 1em;
              color: grey;
              font-weight: 100;
              display: flex;
              justify-content: space-between;
              .item{
                  
                .info{
                  margin-bottom: 0.2em;
                }

                }

              
            }
            .location{
              display: flex;
              align-items: center;
              cursor: pointer;
              span{
                max-width: 11em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
            .level{
              margin-left: 0.6em;
              margin-bottom: 0.3em;  
              .small-flex{
                margin-bottom: 0.1em;
              }
            }

            .social{
              display: flex;
              align-items: center;
              // justify-content: space-between;
              color: grey;
              font-weight: 100;
              font-size: 1.4em;
              font-family: 'Roboto', 'Helvetica';
              margin: 0.5em 0;
              padding: 0.2em 0;
              .mlv{
                margin-left: 1em;
              }
              .mdl-button{
                color: white;
                background-color: #F44336;
              }
              .item-show{
                display: flex;
                align-items: center;
              }
              .social-icon{
                text-decoration: none;
                margin-right: 0.7em;
                color: grey;
                font-size: 1.2em;
              }
            }
          }
        }
      }

      .card-bottom{

      }

    }

    .card-footer{

    }
  }
}



// tablet screen
@media screen and (max-width: 1024px){
  .page-content{
    padding: 2em 2em;
    .large-card{
      .card-body{
        .card-top{
          // flex-wrap: wrap;
          .card-image{
            // flex: 0 1 auto;
            // border: none;
            // padding-right: 0px;  
          }
          .card-info{
            // flex: 0 1 auto;
          }
        }
      }

    } 
  }
}
// phone screen
@media screen and (max-width: 680px){

  
  .page-content{
    #map{
      height: 300px;
      width: 300px;
    }
    padding: 2em 1em;
    .large-card{

      .abnb{

        .row-title{
          margin-left: 0px;
          margin-bottom: 1em;
        }
      }
      .card-body{
        .card-top{
          flex-wrap: wrap;
          .card-image{
            flex: 0 1 auto;
            border-right: none;
            border-bottom: 1px solid grey;
            padding-right: 0px;  
            padding-bottom: 3px;  
            width: 100%;
            img{
              max-height: 190px;
            }
          }
          .card-info{
            flex: 0 1 auto;
            padding: 1em 0.3em 0em 0.3em;
            .text{
              line-height: 10px;
            }
            .top-section{
              .days{
                .info-span{
                  font-size: 1.2em;
                }
              }
            }
            .section {
              .social{
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 0;

                .mlv{
                  margin-left: 0em;
                }
                .item-show{
                  margin-top: 0.3em;
                  margin-bottom: 0.3em;
                }
                #mailto-a {

                  width: 100%;
                  .mdl-button{
                    margin-top: 0.6em;
                    width: 100%;

                  }
                }

              }
              .center{
                justify-content: center;
                // margin: 0 0.5em;
                .social-icon{
                  // margin: 0 0.5em;
                } 
              }

              .level{
                margin-left: 0.3em;
                margin-bottom: 0.1em;  
              }
              .price-div{
                margin-left: 0px;
              }
              .half-time{
                margin-left: 0px;
              }
            }
          }
        }
      }

    } 
  }
}