// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.m-r03em{
  margin-right: 0.3em;
}

.mdl-layout__content{
  background-color: #F2F2F2;
}

.page-content{
    .mdl-button--fab{
      position: fixed;
      bottom: 45px;
      right: 45px;
      &:hover{
        background-color: lighten($dark-blue-color, 10);
      }
    }
  padding: 2em 5em;
  font-weight: 100;
  // background-color: #F2F2F2;
  .pagination-cont{
    display: flex;
    flex-direction: row-reverse;
    .pagination{
      display: flex;
    }
  }

  .large-card{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    border-radius: 4px;
    margin-bottom: 2em;
    background-color: #FFFFFF;


    .card-toolbar{
      display: flex;
      height: 64px;
      padding: 0 1em;
      border-radius: 3px 3px 0 0;
      align-items: center;
      background-color: $blue-color;
      justify-content: space-between;
      color: white;
      h3{

      }
      .toolbar-icons{
        .material-icons{
          margin-right: 0.3em;
        }
      }
    }

    .card-body{
      
      .material-icons{
        color: grey;
      }

      padding: 1em;

      .card-top {
        display:flex;
        align-items: stretch;

        .card-image{
          flex: 2;
          padding-right: 1em;
          border-right: 1px solid grey;
          display: flex;
          align-items: center;
          img{
            max-width: 100%;
          }
        }
        .card-info{
          padding: 0em 1em 0em 1.5em;
          flex: 3;
          .info-span{
            font-size: 1em;
            color: grey;
            font-weight: 100;
          }
          .mdl-tabs__panel{
            padding: 0.4em;
          }
          img.raty-cancel {
            display: none;
          }
          .section{
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.2em;
            align-items: center;
            .days{
              display: flex;
              align-items: center;
              .day{
                margin-left: 0.3em;
                // font-size: 1.6em;
                padding: 0.5em 0.5em;
                cursor: pointer;
                // border: 1px solid grey;
                border-radius: 2px;
                &:hover{
                  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
                  border-bottom: 2px solid $dark-blue-color;
                  -webkit-transition: all 200ms ease-in;
                  -webkit-transform: scale(1.2);
                  -ms-transition: all 100ms ease-in;
                  -ms-transform: scale(1.2);   
                  -moz-transition: all 100ms ease-in;
                  -moz-transform: scale(1.2);
                  transition: all 100ms ease-in;
                  transform: scale(1.2);
                }
              }
            }
            h3 {
              margin: 0 0 0 0;
            }
            .powered-by{
              max-width: 20%;
              .text{
                font-size: 0.6em;
                color:grey;
              }
              img {
                max-width: 100%;
              }
            }
            .players{
              display: flex;
              align-items: center;
            }
            .player-amount{
              margin-left: 0.3em;
            }
            .price-div{
              display: flex;
              align-items: center;
              margin-left: 0.3em;
            }
            .half-time{
              display: flex;
              align-items: center;
              margin-left: 0.3em; 
            }
            .location{
              display: flex;
              align-items: center;
              cursor: pointer;
              span{
                max-width: 11em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
            .level{
              .small-flex{
                margin-bottom: 0.1em;
              }
            }
          }
        }
      }

      .card-bottom{

      }

    }

    .card-footer{

    }
  }
}



// tablet screen
@media screen and (max-width: 1024px){
  .page-content{
    padding: 2em 2em;
    .large-card{
      .card-body{
        .card-top{
          // flex-wrap: wrap;
          .card-image{
            // flex: 0 1 auto;
            // border: none;
            // padding-right: 0px;  
          }
          .card-info{
            // flex: 0 1 auto;
          }
        }
      }

    } 
  }
}
// phone screen
@media screen and (max-width: 680px){
  .page-content{
    padding: 2em 1em;
    .large-card{
      .card-body{
        .card-top{
          flex-wrap: wrap;
          .card-image{
            flex: 0 1 auto;
            border-right: none;
            border-bottom: 1px solid grey;
            padding-right: 0px;  
            padding-bottom: 3px;  
          }
          .card-info{
            flex: 0 1 auto;
            padding-top: 1em;
            .text{
              line-height: 10px;
            }
            .top-section{
              .days{
                .info-span{
                  font-size: 1.2em;
                }
              }
            }
            .section {
              .price-div{
                margin-left: 0px;
              }
              .half-time{
                margin-left: 0px;
              }
            }
          }
        }
      }

    } 
  }
}